absl-py==2.3.0
astunparse==1.6.3
attrs==25.3.0
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
cloudpickle==3.1.1
contourpy==1.3.2
cycler==0.12.1
decorator==5.2.1
dm-tree==0.1.9
filelock==3.13.1
flatbuffers==25.2.10
fonttools==4.58.2
fsspec==2024.6.1
gast==0.6.0
google-auth==2.40.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.73.0
h5py==3.14.0
idna==3.10
Jinja2==3.1.4
joblib==1.5.1
keras==2.14.0
kiwisolver==1.4.8
libclang==18.1.1
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mdurl==0.1.2
ml-dtypes==0.2.0
mpmath==1.3.0
namex==0.1.0
networkx==3.3
numpy==1.24.4
oauthlib==3.2.2
onnx==1.18.0
onnx-tf==1.10.0
opencv-python==4.11.0.86
opt_einsum==3.4.0
optree==0.16.0
packaging==25.0
pandas==2.3.0
pillow==11.2.1
protobuf==4.25.8
pyasn1==0.6.1
pyasn1_modules==0.4.2
pygame==2.6.1
Pygments==2.19.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
requests-oauthlib==2.0.0
rich==14.0.0
rsa==4.9.1
scikit-learn==1.7.0
scipy==1.11.4
six==1.17.0
sympy==1.13.3
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorflow==2.14.0
tensorflow-addons==0.22.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-probability==0.22.1
termcolor==3.1.0
tf_keras==2.19.0
tflite-runtime==2.14.0
threadpoolctl==3.6.0
torch==2.7.1+cpu
torchaudio==2.7.1+cpu
torchvision==0.22.1+cpu
typeguard==2.13.3
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
Werkzeug==3.1.3
wrapt==1.14.1
